<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理系统</title>
  <link rel="stylesheet" href="/css/layui.css">
    <script src="/layui.js"></script>
    <script src="/jquery-3.3.1.min.js"></script>
    <script>
        function change(title) {
            $("iframe").attr("src","/admin/" + title)
        }
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
<!--    <ul class="layui-nav layui-layout-left">-->
<!--      <li class="layui-nav-item"><a href="">控制台</a></li>-->
<!--      <li class="layui-nav-item"><a href="">模型管理</a></li>-->
<!--      <li class="layui-nav-item"><a href="">用户</a></li>-->
<!--      <li class="layui-nav-item">-->
<!--        <a href="javascript:;">其它系统</a>-->
<!--        <dl class="layui-nav-child">-->
<!--          <dd><a href="">邮件管理</a></dd>-->
<!--          <dd><a href="">消息管理</a></dd>-->
<!--          <dd><a href="">授权管理</a></dd>-->
<!--        </dl>-->
<!--      </li>-->
<!--    </ul>-->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="/images/head_portrait.jpg" class="layui-nav-img" th:text="${session.admin.adminName}">
<!--          枫叶落雪-->
        </a>
<!--        <dl class="layui-nav-child">-->
<!--          <dd><a href="">基本资料</a></dd>-->
<!--          <dd><a href="">安全设置</a></dd>-->
<!--        </dl>-->
      </li>
      <li class="layui-nav-item"><a href="/admin/logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-this"><a href="javascript:;" onclick="change('table')">用户信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">公告管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" onclick="change('edit_notice')">发布公告</a></dd>
            <dd><a href="javascript:;" onclick="change('notice_list')">公告列表</a></dd>
          </dl>
        </li>
<!--        <li class="layui-nav-item">-->
<!--            <a href="javascript:;">模型管理</a>-->
<!--            <dl class="layui-nav-child">-->
<!--                <dd><a href="javascript:;">上传模型</a></dd>-->
<!--                <dd><a href="javascript:;">模型列表</a></dd>-->
<!--            </dl>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <!-- <div style="padding: 15px;">内容主体区域</div> -->
    <iframe src="/admin/table" frameborder="0" id="demoAdmin" style="width: 100%; height: 100%;"></iframe>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
<!--    © layui.com - 底部固定区域-->
  </div>
</div>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>