<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>发布公告</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>

    <script src="/layui.js" charset="utf-8"></script>
    <script src="/jquery-3.3.1.min.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input th:value="${user.username}" type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" style="width: 300px" disabled>
                <div class="layui-form-mid layui-word-aux">用户名不可修改</div>
                <input name="userId" hidden th:value="${user.userId}"/>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input th:value="${user.name}" type="text" name="name" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block" style="width: 300px">
                <select name="sex" lay-filter="sex" th:value="${user.sex}">
                    <option value="">请选择性别</option>
                    <option th:selected="${user.sex=='保密'}" value="保密">保密</option>
                    <option th:selected="${user.sex=='男'}" value="男">男</option>
                    <option th:selected="${user.sex=='女'}" value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input th:value="${user.phone}" type="text" name="phone" required  lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formUpdate">立即提交</button>
            </div>
        </div>
    </form>

    <script>
        layui.use(['form','jquery'], function () {
            let $ = layui.jquery,form = layui.form;

            //监听提交
            form.on('submit(formUpdate)', function(data){
                $.ajax({
                    url:"/admin/saveUser",
                    method:"post",
                    data:data.field,
                    dataType:"json",
                    success:function (res) {
                        //let index = parent.layer.getFrameIndex(window.name);
                        if (res == 1){
                            layer.open({
                                title: '信息修改',
                                content: '修改成功！',
                                icon:6,
                                end:function () {
                                    parent.location.reload();
                                }
                            });
                            // layer.close(index);
                            // window.parent.location.reload();
                        } else {
                            layer.open({
                                title: '信息修改',
                                content: '修改失败！',
                                icon:5,
                                end:function () {
                                    parent.location.reload();
                                }
                            });
                        }
                    }
                })
                // layer.msg(JSON.stringify(data.field));
                // let form_data = data.field;
                // console.log(form_data);
                return false;
            });
        });
    </script>
</body>

</html>